In [1]:
# Read in our nps dataset
import pandas as pd

nps = pd.read_excel('datasets/nps.xlsx')
nps.head()

                         email  nps  joined region
0          cdomenget0@java.com    5       1  North
1  cphilcott1@wunderground.com    4       0   East
2            rferne2@goo.ne.jp    5       1  South
3          rtownsley3@xing.com    2       0  South
4        esnook4@biglobe.ne.jp    4       1   West

In [2]:
# There's a lot more that could be done with read_excel

# ?pd.read_excel

In [3]:
# !pip install validate_email
from validate_email import validate_email

nps['is_valid_email'] = nps['email'].astype(str).apply(lambda x:validate_email(x))
nps

                            email  nps  joined region  is_valid_email
0             cdomenget0@java.com    5       1  North            True
1     cphilcott1@wunderground.com    4       0   East            True
2               rferne2@goo.ne.jp    5       1  South            True
3             rtownsley3@xing.com    2       0  South            True
4           esnook4@biglobe.ne.jp    4       1   West            True
..                            ...  ...     ...    ...             ...
763            bmulcahyl7@wix.com    7       0  North            True
764  wdomaschkel8@studiopress.com    6       0   East            True
765      cnarrawayl9@redcross.org    8       0  North            True
766                ceckleyla@g.co    0       1  North            True
767          cthomsenlb@lycos.com    6       0  South            True

[768 rows x 5 columns]

In [4]:
# Detect missing nps values

sum(pd.isnull(nps['nps'])) / len(nps)

0.0

In [5]:
# Impute the mising values with the median

nps['nps'] = nps['nps'].fillna(nps['nps'].median())
sum(pd.isnull(nps['nps'])) / len(nps)

0.0

In [6]:
# Get the count of records by region

nps['region'].value_counts()

West     199
East     195
North    188
South    186
Name: region, dtype: int64

In [7]:
# Should probably do the same for count of valid emails
nps['is_valid_email'].value_counts()

True     718
False     50
Name: is_valid_email, dtype: int64

In [8]:
# OK, let's write this out to Excel
nps.to_excel('output/nps.xlsx')

In [9]:
# One for good measure
nps['region'].value_counts().to_excel('output/region-counts.xlsx', sheet_name='value-counts')